@use "reset";
@use "media";
@use "main-index";
@use "main-nosotres";
@use "main-preguntas";
@use "main-cristales";
@use "main-contacto";
@use "header";
@use "footer";
@use "variables";
@use "imports";
.titulos {
  display: block;
  padding-left: 50px;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-weight: bolder;
  background-image: linear-gradient(#eadae6, #cebfca);
  color: #254441; }
