$color-fondo: linear-gradient(#cebfca, white);
$color-texto: #254441;
$font-titulos: "Poppins";

.footer {
    display: flex;
    justify-content: center;
    background-color: #eadae6;
    font-family: $font-titulos;
    color: $color-texto !important;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 0;
    position: static;
.row{
    padding-right: 10px;
}
    .navbar-brand {
        display: flex;
        color: $color-texto !important;
        font-size: 16px;

    }
}