.header {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #eadae6;
    font-family: $font-titulos;
    font-size: 20px;
    text-decoration: none;

    .contenedor-head {
        justify-content: flex-end !important;

        .navbar-toggler {
            padding: 10px;
            font-size: 1.5rem ;
            

            .navbar-collapse {
                flex-direction: row;
                /* flex-basis: 0; */
                flex-grow: 0;
                margin: 15px;

                .nav-link {
                    color: $color-texto;

                    &:hover {
                        color: #6e46ff;
                    }
                }
            }
        }
    }
}