$color-fondo: linear-gradient(#cebfca, white);
$color-texto: #254441;
$font-titulos: "Poppins";
$font-cuerpos: "Open Sans";

#main-contacto {
    align-content: center;
    padding-left: 30px;
    background-image: $color-fondo !important;
    font-family: $font-cuerpos ;
    color: $color-texto !important;


    .cuerpo-contacto {
        display: flex !important;
        align-content: center;
        font-family: $font-cuerpos !important;
        background-color: $color-fondo !important;
        padding-bottom: 20px;

       
    }

}