$color-fondo: linear-gradient(#cebfca, white);
$color-texto: #254441;
$font-titulos: "Poppins";
$font-cuerpos: "Open Sans";

#main-index {
    align-content: center;
    background-image: $color-fondo;
    text-align: left;
    color: $color-texto;
    font-family: $font-cuerpos;
    font-weight: bolder;

    .cuerpo-index {
        position: relative;
        width: 100%;
        margin: 0 auto;
        font-size: 25px ;

        .contenido-index {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            height: 30rem;
            width: 98%;
            padding: 20px;
        }
    }
}
