
#main-index {
    align-content: center;
    background-image: $color-fondo;
    text-align: left;
    color: $color-texto;
    font-family: "Open Sans";
    font-weight: bolder;

    .cuerpo-index {
        position: relative;
        width: 80%;
        margin: 0 auto;
        font-size: 25px !important;

        .contenido-index {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 97%;
            padding: 20px;
        }
    }
}