#main-preguntas {
    align-content: center;
    font-family: "Open Sans";
    background-image: $color-fondo;
    color: $color-texto;
    .accordion {
        padding-top: 15px;
        font-family: "Open Sans";
        --bs-accordion-color: #254441;
        --bs-accordion-btn-focus-border-color: #86fede;
        --bs-accordion-active-color: $color-texto;
        --bs-accordion-active-bg: #dafaf2;
    }

}
