$color-fondo: linear-gradient(#cebfca, white);
$color-texto: #254441;
$font-titulos: "Poppins";
$font-cuerpos: "Open Sans";

#main-cristales {
    align-content: center;
    font-family: $font-cuerpos !important;
    background-image: $color-fondo;
    padding-bottom: 20px;
    color: $color-texto;

    .row-cristales {
        padding-left: 150px;
        padding-bottom: 20px;
    }
}
