#main-contacto {
    align-content: center;
    padding-left: 30px;
    font-family: "Open Sans";
    color: $color-texto !important;
    background-image: $color-fondo !important;

    .cuerpo-contacto {
        background-image: $color-fondo;
        padding-bottom: 20px;
    }

}