@media (max-width: 590px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: smaller;

        .nav-link {
            display: flex;
            justify-content: flex-start;
            box-sizing: content-box;
        }
    }

    #main-index {
        background-image: url("../Imagenes/fondoquery.png ");

        .contenido-index {
            height: 44vh;
            font-size: 10px;
            width: 100vw;
        }


    }


    #main-nosotres {
        align-items: center;
        font-size: 11pt;
        height: 50%;

        .cuerpo-nos {
            align-items: center;

            .img-fluid {
                width: 400px;
            }

        }
    }

    #main-preguntas{
        align-content: center;
        font-size: 11pt;
        height: 50%;
        width: 95%;
        background-position: fixed;
        .accordion{
            font-size: 9pt;
        }
    }
    #main-cristales{
        align-content: center;
        font-size: 11pt;
        height: 50%;
        width: 95%;
    }
    #main-contacto {
       align-content: center;
        font-size: 11pt;
        height: 50%;
        width: 95%;

    }

    .footer {
        .navbar-brand {
            color: $color-texto !important;
            text-align: center;
            text-decoration: none;
            font-size: smaller;
        }
    }
}