@media (max-width: 790px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: smaller;

        .nav-link {
            display: flex;
            justify-content: flex-start;
            box-sizing: content-box;
        }
    }

    #main-index {
        
        .cuerpo-index {
            font-size: smaller;
            height: 90%;
            .contenido-index {
                height: 15rem;
                width: 30rem;
            }   

        }
    }


    #main-nosotres,
    #main-preguntas,
    #main-cristales,
    #main-contacto {
        font-size: 11pt;
        height: 50%;
        width: 95%;

    }

    .footer {
        .navbar-brand {
            color: $color-texto !important;
            text-align: center;
            text-decoration: none;
            font-size: smaller;
        }
    }
}