@media (max-width: 425px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: smaller;

        .nav-link {
            display: flex;
            justify-content: flex-start;
            box-sizing: content-box;
        }
    }

    #main-index {
        background-image: url("../Imagenes/fondoquery.jpg ");

            .contenido-index {
                height: 44vh;
                font-size: 10px;
                width: 100vw;
            }   

        
    }


    #main-nosotres,
    #main-preguntas,
    #main-cristales,
    #main-contacto {
        font-size: 11pt;
        height: 50%;
        width: 95%;

    }

    .footer {
        .navbar-brand {
            color: $color-texto !important;
            text-align: center;
            text-decoration: none;
            font-size: smaller;
        }
    }
}